@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400;500;700;900&display=swap');
:root{--rightbackground-color: rgb(0, 217, 255);}

::-webkit-scrollbar{
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-track{
    background-color:  var(--rightbackground-color);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.4);
    border-radius: 1vh;
}
::-webkit-scrollbar-corner{
    background-color: var(--rightbackground-color);
}
body{
    min-height: 100vh;
    background: linear-gradient(to right, #e75d5d, var(--rightbackground-color));
}
.container{
    display: flex;
    justify-content: center;
}
body .card{
    color: white;
    background: rgba(255,255,255, 0.1);
    width: 30rem;
    text-align-last: center;
    border-radius: 0;
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
}
body .ui-card .ui-card-content{
    padding: 0;
}
body .spinner, body .selectMenu {
    width: 100%;
}
body .ui-spinner .ui-spinner-input,
body .ui-spinner.ui-spinner-horizontal .ui-spinner-button.ui-button.ui-spinner-up,
body .ui-spinner.ui-spinner-horizontal .ui-spinner-button.ui-button.ui-spinner-down{
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}
body .slider{
    position: relative;
    width: 82.5%;
    margin: 0.5rem auto 10px;
}
body .ui-slider .ui-slider-range{
    visibility: hidden;
}
body .ui-panelgrid .ui-panelgrid-cell,
body .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container.ui-inputfield,
body .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon{
    background: transparent;
    color: white;
}
body .ui-toggleswitch .ui-toggleswitch-slider {
    background: var(--off);
}
body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
    background: var(--on);
}
body .ui-inputfield, body .ui-selectcheckboxmenu{
    background: rgba(255,255,255, 0.1);
    border: 0;
    color: white;
}
body .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
body .ui-widget h1{
    display: block;
    font-size: 2rem;
    padding: 1rem 1rem 0 1rem;
    overflow-wrap: break-word
}
h5{
    display: inline-block;
    margin-top: 1rem;
    color: white;
}
body .ui-widget h1::selection{
    background-color: rgba(255, 255, 255 , 0.1);
    color: lightgreen;
}
body .btn{
    background: #679e38 !important;
    border: 0 !important;
}
body .btn:hover{
    background-color: #5e8f32 !important;
    animation: ani 10s ease-in-out;
}